<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly ="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="exceptions" xsi:type="File"
       layout="${longdate} ${logger} ${message}${exception:format=ToString}"
       fileName="${basedir}/logs/logfile_exceptions.txt"
       keepFileOpen="true"
       encoding="utf-8" />
    <target name="allfile" xsi:type="File"
        layout="${longdate} ${logger} ${message}${exception:format=ToString}"
        fileName="${basedir}/logs/logfile.txt"
        keepFileOpen="true"
        encoding="utf-8" />
    <target name="request-time" xsi:type="File"
        layout="${longdate} ${logger} ${message}${exception:format=ToString}"
        fileName="${basedir}/logs/request_time.txt"
        keepFileOpen="true"
        encoding="utf-8" />
  </targets>

  <rules>
    <logger name="RestaurantAPI5.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="request-time" />
    <logger name="RestaurantAPI5.*" minlevel="Error" writeTo="exceptions" />
    <logger name="*" minlevel="Trace" writeTo="allfile" />
  </rules>
</nlog>